<p id="notice"><%= notice %></p>

<h1>Listing Book Exemplars</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_exemplars.each do |book_exemplar| %>
      <tr>
        <td><%= book_exemplar.book %></td>
        <td><%= book_exemplar.place %></td>
        <td><%= link_to 'Show', book_exemplar %></td>
        <td><%= link_to 'Edit', edit_book_exemplar_path(book_exemplar) %></td>
        <td><%= link_to 'Destroy', book_exemplar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book exemplar', new_book_exemplar_path %>
