<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book_exemplar.book %>
</p>

<p>
  <strong>Place:</strong>
  <%= @book_exemplar.place %>
</p>

<%= link_to 'Edit', edit_book_exemplar_path(@book_exemplar) %> |
<%= link_to 'Back', book_exemplars_path %>
