-#-if !@current_user.admin?
-#  = redirect_to @current_user, notice:"Вы не админинстратор"

  = link_to "#{@current_user.email}", @current_user
%p#notice= notice
%p
  %strong Name:
  = @user.name
%p
  %strong Email:
  = @user.email
%p
  %strong Phone:
  = @user.phone
%p
  %strong Address:
  = @user.address
%p
  %strong Role:
  = @user.role

= link_to 'Изменить', edit_user_path(@user)
|
= link_to 'Назад', users_path
