-#-if !@current_user.admin?
-#  = redirect_to @current_user, notice:"Вы не админинстратор"

  = link_to "#{@current_user.email}", @current_user
.list-group
  %p#notice= notice
  %p
    %strong Имя:
    = @user.name
  %p
    %strong Почта:
    = @user.email
  %p
    %strong Телефон:
    = @user.phone
  %p
    %strong Адрес:
    = @user.address
  %p
    %strong Роль:
    = @user.role

-#= link_to 'Книги', book_exemplar(@user)
= link_to '', edit_user_path(@user), class: "btn btn-warning btn-lg fa fa-pencil", title:"Редактировать"
-#|
-#= link_to '', users_path, class: "btn btn-default btn-lg fa fa-reply", title:"Назад"

-#|
-#= link_to 'Назад', users_path