= form_for(@book_order) do |f|
  - if @book_order.errors.any?
    #error_explanation
      %h2
        = pluralize(@book_order.errors.count, "error")
        prohibited this book_order from being saved:
      %ul
        - @book_order.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_id
    %br/
    = f.text_field :user_id
  .field
    = f.label :book_exemplar_id
    %br/
    = f.text_field :book_exemplar_id
  .actions
    = f.submit
