<p id="notice"><%= notice %></p>

<h1>Listing Book Orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book exemplar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_orders.each do |book_order| %>
      <tr>
        <td><%= book_order.user %></td>
        <td><%= book_order.book_exemplar %></td>
        <td><%= link_to 'Show', book_order %></td>
        <td><%= link_to 'Edit', edit_book_order_path(book_order) %></td>
        <td><%= link_to 'Destroy', book_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book order', new_book_order_path %>
