<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @book.amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Pages amount:</strong>
  <%= @book.pages_amount %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Udc:</strong>
  <%= @book.udc %>
</p>

<p>
  <strong>Lbc:</strong>
  <%= @book.lbc %>
</p>

<p>
  <strong>Shelf:</strong>
  <%= @book.shelf %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
