<p id="notice"><%= notice %></p>

<p>
  <strong>Cupboard number:</strong>
  <%= @place.cupboard_number %>
</p>

<p>
  <strong>Storey number:</strong>
  <%= @place.storey_number %>
</p>

<p>
  <strong>Shelf number:</strong>
  <%= @place.shelf_number %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
